.contact-form{
    margin-top: -15px;
    width: 75%;
    height: 90px;
    padding: 0px 155px;
}
.contact-form h2{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    line-height: 40px;
    font-size: 32px;
    font-weight: 750;
    color: rgb(204, 0, 211);
    text-align: center;
}
.container{
    display: flex;
    margin: 35px 0;
}
.content{
    padding: 0 10px;
    background: #fff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.form-photo{
    margin-left: -22px;
    display: grid;
    width: 80%;
    background: #f0f4f8;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
}
.form-photo img{
    width: 90%;
}
label{
    color: #000000;
}
.info-details li {
    margin-top: 15px;
    font-size: 16px;
    color:#ffffff;
}
.info-details li i {
    background: rgb(0 143 211);
    padding: 7px;
    border-radius: 50%;
    margin-right: 5px;
}
.info-details li a {
    color: #000000;
    text-decoration: none;
}
.info-details li a:hover {
    color: #F44770;
    transition: 0.6s;
}
.social-icons {
    margin: 0 140px;
}
.social-icons li {
    display: inline-block;
    list-style: none;
}
.social-icons li i {
    margin: 0px 5px;
    padding: 12px;
    font-size: 15px;
    color: #fff;
    background: rgb(0 143 211);
    border: 1px solid rgb(0 143 211);
    border-radius: 22%;
    cursor: pointer;
}
.social-icons li i:hover {
    border: 1px solid #000000;
    background: #fff;
    color: #000000;
    transition: 0.4s;
}
.contact-form form {
    margin: 25px 0;
}

.contact-form input{
    outline: none;
    margin-bottom: 15px;
    padding: 20px 15px;
    width: 90%;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
    background: #f0f4f878;
    border: 1px solid #f0f4f878;

}
.contact-form input:hover {
    border: 1px solid rgb(0 143 211);
    transition: 0.5s;
}

.btn-contact {
    width: 190px;
    height: 50px;
    cursor: pointer;
    border-radius: 35px;
    margin-left:170px;
    font-size: 20px;
    color: #fff;
    background: rgb(0 143 211);
    font-weight: 600;
    padding: 15px 0;
    border: 1px solid rgb(0 143 211);
} 
.btn-contact:hover{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid rgb(0, 0, 0);
    transition: 0.9s ;
}