.sidebar{
	width: 220px;
	top: 110px;
	left: 30px;
	bottom: 0;
	padding: 10px 30px;
	border-right: 2px solid #eee;
	overflow-y: scroll;
	
}
.sidebar.fixed{
	position: fixed;
	top: 110px;
	height: calc(100vh - 110px);
}

.filter-type{
	margin-bottom: 1rem;
}

.input[name="filter-type"]:checked~ul{
	max-height: 300px;
}
	

